<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.netease.engine.mapper.AppRecordInfoMapper">
	
	<!-- 数据库中表统一名称：由app_record 改为 spider_record_info -->
	
	<select id="findByStatus" resultType="com.netease.engine.model.AppRecordInfo" parameterType="int">
		select * from spider_record_info_test_1 where status = #{value}
	</select>
	<select id="findByModifykey" resultType="com.netease.engine.model.AppRecordInfo" parameterType="String">
		select * from spider_record_info_test_1 where modifykey = #{value}
	</select>
	<select id="findByModifykeyAndType" resultType="com.netease.engine.model.AppRecordInfo" parameterType="com.netease.engine.model.AppRecordInfo">
		select * from spider_record_info_test_1 where modifykey = #{modifykey} and type = #{type}
	</select>
	<insert id="save" parameterType="com.netease.engine.model.AppRecordInfo">
		insert into spider_record_info_test_1 (appid,sourceid,title,url,type,storeid,create_time,update_time,modifykey,status) 
		values (#{appid},#{sourceid},#{title},#{url},#{type},#{storeid},#{create_time},#{update_time},#{modifykey},#{status})
	</insert>
	<update id="updateByModifykeyAndType" parameterType="com.netease.engine.model.AppRecordInfo">
		update spider_record_info_test_1 set update_time=#{update_time},storeid=#{storeid} 
		where modifykey=#{modifykey} and type = #{type}
	</update>	
</mapper>